@page
@model Hotelone19301408.Pages.ManageBookings.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatesInput.RoomID" class="control-label"></label>
                <select asp-for="DatesInput.RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CustomerEmail" class="control-label"></label>
                <select asp-for="Booking.CustomerEmail" class="form-control" asp-items="ViewBag.CustomerEmail"></select>
            </div>
            <div class="form-group">
                <label asp-for="DatesInput.CheckIn" class="control-label"></label>
                <input asp-for="DatesInput.CheckIn" class="form-control" />
                <span asp-validation-for="DatesInput.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatesInput.CheckOut" class="control-label"></label>
                <input asp-for="DatesInput.CheckOut" class="form-control" />
                <span asp-validation-for="DatesInput.CheckOut" class="text-danger"></span>
            </div>
            @*
                <div class="form-group">
                    <label asp-for="Booking.Cost" class="control-label"></label>
                    <input asp-for="Booking.Cost" class="form-control" />
                    <span asp-validation-for="Booking.Cost" class="text-danger"></span>
                </div>
            *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
@if (Model.Vacancy != null)
{
<div>
    <hr />
    @if (Model.Vacancy.Count == 0)
    {
        <hr />
        <h3>Booking updated!</h3>
        <h5>RoomID: @ViewData["Rm"]</h5>
        <br />
        <h5>Customer: @ViewData["CustomerEmail"]</h5>
        <br />
        <h5>Check in: @ViewData["ChkIn"]</h5>
        <br />
        <h5>Check out: @ViewData["ChkOut"]</h5>
        <br />
        var total = ViewData["total"] + "0";
        <h5>Total cost: $@total</h5>


    }
    else
    {
        <!--If there is a difference or a room has already been booked, the table will show-->
        <h4>A booking has already been made</h4>
        <table class="table">
            <!-- .table is a Bootstrap class giving table styles -->
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vacancy[0].RoomID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vacancy[0].TheCustomer.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vacancy[0].CheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vacancy[0].CheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vacancy[0].Cost)
                </th>
            </tr>

            @foreach (var item in Model.Vacancy)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TheCustomer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                </tr>
            }
        </table>
    }
</div>
}


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*
    <h4>Booking</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Booking.RoomID" class="control-label"></label>
                    <select asp-for="Booking.RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Booking.CustomerEmail" class="control-label"></label>
                    <select asp-for="Booking.CustomerEmail" class="form-control" asp-items="ViewBag.CustomerEmail"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Booking.CheckIn" class="control-label"></label>
                    <input asp-for="Booking.CheckIn" class="form-control" />
                    <span asp-validation-for="Booking.CheckIn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Booking.CheckOut" class="control-label"></label>
                    <input asp-for="Booking.CheckOut" class="form-control" />
                    <span asp-validation-for="Booking.CheckOut" class="text-danger"></span>
                </div>
                @*
                    <div class="form-group">
                        <label asp-for="Booking.Cost" class="control-label"></label>
                        <input asp-for="Booking.Cost" class="form-control" />
                        <span asp-validation-for="Booking.Cost" class="text-danger"></span>
                    </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
    @if ((string)ViewData["NewBooking"] == "true")
    {
        <hr />
        <h3>Booking updated!</h3>
        <h5>RoomID: @ViewData["Rm"]</h5>
        <br />
        <h5>Customer: @ViewData["CustomerEmail"]</h5>
        <br />
        <h5>Check in: @ViewData["ChkIn"]</h5>
        <br />
        <h5>Check out: @ViewData["ChkOut"]</h5>
        <br />
        var total = ViewData["total"] + "0";
        <h5>Total cost: $@total</h5>

    }
    else
    {
        <div>
            <h2>Booking could not be Placed</h2>
            <p>This room is not available for the selected dates.</p>
        </div>
    }


    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
*@